/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*                                ---------------                                  */
/* ------------------------------| Custom Styles |-------------------------------  */
/*                                ---------------                                  */
html{
    height: 100vh;
    width: 100vw;
}
/* calling on the body to set the basic sytles of the font  */
body{
    margin: 10px;
    font-family: Montserrat;
    color: #333131;
    font-weight: lighter;
    font-size: 10px;
}
/* changing a different heading to be able to make it bold since the meyerweb reset removes the bold level text */
h1{
    font-size: 30px;
    font-weight: bolder;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
/* placing the image in the main as a background and position it to make it look eye peeling */
.main{ 
    background-image: url(images/bg-image/scooter.svg);
    background-repeat: no-repeat;
    background-position: center 50 auto;
    background-size: 50%;
}
/* Size the header img so that it doesnt take up alot of space and only stays in the header section */
.header img{
    width: 50px;
    height: auto;
}
/* calling on the section form to quicly see which form im calling on */
/* creating the background of the form to give it that called background. */
/* calling on boder-radius to beable to make the form backgound have rounded edge */
.section form{
    background: #f7f7ff;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    padding: 10px;
    text-align: center; 
}
/* designing for the form button : chaning the colour, using border-radius and border again to make the button rounded and making the font size larger to be able to see it better instead of all on the the tag itself in the list  */
.formbutton{
    background-color: #57eeab;
    border: #57eeab;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    font-size: large;
}
/* doing the same styles from the formbutton but cahing the colors */
.calculatorbutton{
    background-color: #ff8480;
    border: #ff8480;
    border-radius: 5px;
    width: px;
    height: 20px;
    color: #f7f7ff;
}
/* Using background-color to set the color  */
.footer{
    background-color:#fffd8c;
    background-size: 100%;   
}
/*                                ---------------                                  */
/* ------------------------------| Layout Section |-------------------------------  */
/*                                ---------------                                  */
/* using grid to change the layout : using grid-template-areas as the easist way to do the layout*/
.grid-container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows:repeat(3,1fr);
    grid-template-areas: 
        "header"
        "articletext"
        "form"
        "footer"
}
/* applying grid-template-areas to the classes*/
.header{
    grid-area: header;
}
.articletext{
    grid-area: articletext;
}
.form{
    grid-area:form;
}
.footer{
    grid-area: footer;
}

@media screen and (max-width:320px){
    .grid-container{
        grid-template-areas: 
        "header"
        "articletext"
        "form"
        "footer";
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 641px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-area: 
        "formtext"
        "formgroup"
        "calculatorbutton"
        "socials";
        grid-template-areas: 
        "formtext formtext formtext"
        "formgroup formgroup calculatorbutton"
        "socaials socaials socaials";
    }
    .grid-container{
        grid-template-areas: 
        "header header header"
        "article article article"
        "form form form "
        "footer footer footer";
    }

}
@media screen and (min-width: 1200px){
    .grid-container{
        grid-template-areas: 
            "header header header header"
            "articletext articletext form form" 
            "footer footer footer footer";
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
