
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav{
	font-family: 'Open sans', sans-serif;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	width: 760px;	
}
.nav-link{
	color: white;
	text-align: center;
}
h1,h2,p{
	font-family: 'Open sans', sans-serif;
	color: black;
}
/* mobile app section */
.nav-link{
	display: block;
	text-align: center;
}
@media screen and (min-width: 650px){
	
}
@media screen and (max-width: 900px){
	/* Styles applied below width of 900px */
}
@media screen and (min-width: 400px) and (max-width: 1000px){
	/* Styles applied between 400px and 1000px */
}
