/* Using css custom property to make it easier if changes needed to be made latter */
:root{
    --company-banding-color: #AA9CB9;
    --company-font: Montserrat,Arial,sans-serif;
    --h1-and-nav-text-color: purple;
}
/* setting any syles that are the same throughout all the pages */
.header{
    background-color: var(--company-banding-color);
    width:100%;
    z-index: 3;
}
h1{
    color: var(--h1-and-nav-text-color);   
}

*{
    margin: 0;
    padding: 0;
}
/* Styling hamburger nav for all the website pages */
.header ul{
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.header ul a {
    display:block;
    padding:20px;
    text-decoration: none;
    font-size: 2rem;
    color: var(--h1-and-nav-text-color);
}
.header ul a:hover{
    background-color: white;
}
.header .company-name{
    float: left;
    display:block;
    font-size: 2em;
    padding: 10px 20px;
}
.header .nav-menu{
    clear:both;
    max-height: 0;
    transition: max-height .4s ease-out;
}
/* working on the main hamburger nav */
.menu-icon{
    cursor: pointer;
    padding: 28px 20px;
    position: relative;
    float: right;
}
/* Removing the display on the check box so it isnt visible but can be used as somthing to click */
.menu-btn{
    display: none;
}
/* creating a one of the nav bars */
.nav-icon{
    background-color: var(--h1-and-nav-text-color);
    display:block;
    width: 20px;
    height: 4px;
    position: relative;
    transition: background .4s ease-out;
}
/* creating the other nav bars */
.nav-icon:before{
    background-color: purple;
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    transition: all .4s ease-out;
}
.nav-icon:after{
    background-color: var(--h1-and-nav-text-color);
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -7px;
    transition: all .4s ease-out;
}
.menu-btn{
    display: none;
}
/* This is what will make the nav menu transition and drop down when checked */
.menu-btn:checked ~ .nav-menu{
    max-height: 250px;
}
/* creating the code for when the nav menu is checked for it to animate into a X */
/* When designing the animation and making the top and bottom line rotate it will go from the center so i chaged the positioning to be on top of eachother making it look like an X when rotated */
.menu-btn:checked ~ .menu-icon .nav-icon{
    background: transparent;
}
.menu-btn:checked ~ .menu-icon .nav-icon:before{
    transform: rotate(-40deg);
    top: 0;
}
.menu-btn:checked ~ .menu-icon .nav-icon:after{
    transform: rotate(40deg);
    top: 0;
}
/* ---------------------------Footer section --------------------*/
footer{
    background-color: var(--company-banding-color);
    text-align: center;
    padding-bottom: 2rem;
}
.footer-logo img{
    width: 25%;
}
.socials img{
    width: 5%;
    display:inline-flex   
}


/*                                ----------                                */
/* ------------------------------| Home Page|-------------------------------  */
/*                                ----------                                */
.info-table{
    margin-left: auto;
    margin-right: auto;
}
.home-container{
    width: 70%; 
    margin: 10px auto;
    text-align: center;  
}
.main-image img{
    width: 350px;
    height: auto;
}
.map iframe{
    width: 360px; 
    padding-top: 6px; 
}
.home-container section{
    margin: 10px;
}
.hand-image img{
    width: 300px;
    height: auto;
}

/*                                -----------------------                                  */
/* ------------------------------| Our Techicicans Page  |-------------------------------  */
/*                                -----------------------                                  */
.our-techs{
    width: 80%;
    margin: 10px;
    display: inline-block;
}
.our-techs div{
    min-width: 30%;
    height: auto;
    padding: 10px;
    /* border: 2px solid var(--company-banding-color) ;  
    padding-top: 20px; 
    padding-bottom: 20px; */
}
.our-techs img{
    width: 30%;
}
/* styling the a tag to look like a button  */
.our-techs a{
    text-decoration: none;
    background-color: var(--company-banding-color) ;
    border-radius:10px;
    border: 5px solid var(--company-banding-color); 
}
/* chageing the a tags active color when selcted from red to white  */
.our-techs a:active{
    color: white;
}
/* setting some space between the items(li) in the list(ul) - also - taking off any list stles*/
.our-techs ul li {
    margin-top: 6px;
    margin-bottom: 6px;
}
.our-techs ul{
    list-style: none;
}
.our-techs-main{
    text-align: center;
}
.our-techs h2{
    color:var(--h1-and-nav-text-color);
    text-decoration: underline;
}


/*                                ---------------                                 */
/* ------------------------------| Booking Page  |-------------------------------  */
/*                                ---------------                                  */
/* sizing the calander that will show up on table and desktop */
.booking img{
    width: 40%;
    height: auto;
    margin-top: 50px;
    display: none;
}
.booking h2{
    color:var(--h1-and-nav-text-color);
    text-decoration: underline;
}
.booking{
    width: 80%;
    display:inline-block;
    color: var(--company-banding-color) ;
}
.booking-main{
    text-align: center;
}
/* removing the list syles and padding some space in between */
.booking li{
    list-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
}
/* styling the boder of the input form changing the border to make it round and the company color  */
.booking input{
    border-radius: 2px;
    border: solid 1px var(--company-banding-color);
}
/* styling the booking button : the color,size and the spacing of it */
.booking input[type=submit]{
    background-color: var(--company-banding-color);
    width: 100px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* using the animation property on the submit button to make is shake a bit when its being hovered on*/
.booking input[type=submit]:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake{
    50%{
        transform:translate(-1px,-1px) rotate(-1deg);
    }
    100%{
        transform:translate(-1px,1px) rotate(-1deg);
    }
}
/* changing the text xolor */
.booking input[value=BOOK]{
    color: white;
}
.info div input{
    padding: 10px;
}

/*                                ---------------                                  */
/* ------------------------------| Layout Section |-------------------------------  */
/*                                ---------------                                  */

/* Home layout */
/* .home-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
        "blockone"
        "blocktwo"
        "blockthree"
        "blockfour"
        "blockfive";
} */

/* Making the nav menu reponsive on desk and table only one media query because my nav is the same on desktop and tablet */
/* @media (min-width:600px){
    .header li{
        float: left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .nav-menu{
        clear:none;
        float:right;
        max-height: none;
    }
    .menu-icon{
        display: none;
    }
}
.home-container{
    display: grid;
    height: auto;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "main-image main-image"
    "about hand-image"
    "location-info map";
}
.main-image{
    grid-area: main-image;
}
.about{
    grid-area: about;
}
.hand-image{
    grid-area: hand-image;
}
.loctaion-info{
    grid-area: location-info;
}
.map{
    grid-area: map;
} */
/*                                -------------------------------                                  */
/* ------------------------------| Layout Our-Techicians Section |-------------------------------  */
/*                                -------------------------------                                  */
@media (min-width:600px){
    .our-techs-main{
        width: 100%;
    }    
    .booking img{
        display: inline-block;
        width: 450px;
        height: 450px;
        padding: 10px;
        justify-content: center;
    }
    main{
        display: grid;
        margin: 0;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: 
        "header header"
        "tech1 tech2"
        "tech3 tech4";
    }
    .our-techs-main h2{
        grid-area: header;
    }
    .tech1{
        grid-area: tech1;
    }
    .tech12{
        grid-area: tech2;
    }
    .tech3{
        grid-area: tech3;
    }
    .tech4{
        grid-area: tech4;
    }


    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1;
        grid-template-areas: 
        "logo contact-info socials";
    }
    .footer-logo{
        grid-area: logo;
    }
    .contact-info{
        grid-area: contact-info;
    }
    .socials{
        grid-area: socials;
    }
/*                                ------------------------                                 */
/* ------------------------------| Layout Booking Section |-------------------------------  */
/*                                ------------------------                                  */
    /* creating a 2 colum grid to span the form into two also making the calender and header take up its own whole row */
.booking{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "calender calender"
        "header header "
        "name number"
        "email service"
        "time techname"
        "info info"
        "submit submit";
    }
    .booking img{
        grid-area: calender;
    }
    .booking h2{
        grid-area: header;
    }
    .fullname{
        grid-area: name;
    }
    .number{
        grid-area: number;
    }
    .email{
        grid-area: email;
    }
    .service{
        grid-area: service;
    }
    .time{
        grid-area: time;
    }
    .techname{
        grid-area: techname;
    }
    .info{
        grid-area: info;
    }
    .submit{
        grid-area: submite;
    }
}
/* Making the grid for desk top into 3 columns so the form can spand 3 colums wide instead of 2 */
@media (min-width:1000px){
    .booking{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas: 
        "calender calender"
        "header header"
        "name number email"
        "service time techname"
        "info info info"
        "submit submit submit";
    }
}
